# Copyright (C) 2025-2026 fei_cong(https://github.com/feicong/feicong-course)
.DS_Store
kernel-build-tools
mkbootimg
git-repo
.repo
*.img
*.zip
*.gz
*.xz
Image*
*.ko
*.o
*.o.d
*.cmd
System.map
Module.symvers
modules.order
vmlinux
vmlinux.*
*.mod
*.mod.c
*.mod.o
*.mod.c.o
android13-*
android14-*
android15-*
android16-*
AnyKernel3
susfs4ksu
kernel_patches
bootimgs/
.env
*.usyms
